<!--상단바-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>nav</title>
    <link href="main.css" rel="stylesheet" />
  </head>
  <body class="grey-bg">
    <div class="nav">
      <a class="logo">SMU</a>
      <a>page1</a>
      <a>page2</a>
    </div>
  </body>
</html>
